.content {
  position: relative;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  transition: transform 0.5s;
}

.icon {
  position: absolute;
  z-index: 50;
  top: -14px;
  right: -14px;
}

.text {
  max-width: 100%;
  white-space: normal;
  word-wrap: break-word;
}

.flipped {
  transform: rotateY(180deg);
}

.flipped .content {
  transform: rotateY(180deg);
}
