.content {
  position: relative;

  min-height: var(--card-min-height);
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  transition: transform 1s;
}

.icon {
  position: absolute;
  z-index: 50;
  top: -14px;
  right: -14px;

  cursor: pointer;
}

.text {
  max-width: 100%;
  margin: 41px 27px;
  white-space: normal;
  word-wrap: break-word;
}

.flipped {
  transform: rotateY(180deg);
}

.flipped .content,
.flipped .edit {
  transform: rotateY(180deg);
}

.fadeAnimation {
  animation: fade 0.5s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
