.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-inline: 16px;
  padding-block: 10px;

  height: 60px;
  background: #fff;

  font-size: 18px;
  font-weight: 500;
  line-height: 21px; /* 116.667% */
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  border-radius: 32px;
  background-color: var(--accent-color);
}
