:root {
  --white-color: #ffffff;
  --background-color: #f1f2f3;
  --accent-color: #161616;
  --typo-color: #b6b6b6;
  --border-color: #ebebec;

  --card-min-height: 158px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
}

body {
  background: #373737;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
  transition: opacity 0.2s;
}

ul {
  list-style: none;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
